@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.875rem;
        margin: 0 0 8px 0;
    }
  
    h2 {
        font-size: 1.125rem;
    }
  
    .btn {
        display: block;
        font-size: 1.125rem;
    }
  
    .submenu {
        width: 100%;
        position: relative;
    }
  
    section {
        padding: 25px 0 15px 0;
    }
  
    .feature {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 0 0 10px 0;
        font-size: 1rem;
    }
  
    .feature img {
        width: 15%;
        min-width: 60px;
        margin-right: 20px;
    }
  
    .quote {
        padding: 30px 0;
    }
  
    blockquote p {
        font-size: 1.125rem;
    }
  
    blockquote cite {
        font-size: 0.875rem;
    }
  
    footer {
        padding: 30px 0 10px 0;
    }
  
    footer li {
        display: block;
        margin: 5px 0;
    }
}
